.header {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  background-color: #333;
  padding: 20px 30px;
  border-bottom: darkgreen;
  border: 5px;
}
/* container tingz */

/*MAIN PAGE*/
.rss {
  color: blue;
  background-color: #333;
  width: 450px;
  height: 500px;
  padding: 20px;
  float: right;
  overflow: scroll;
}

.shortcuts {
  color: blue;
  background-color: #333;
  width: 450px;
  height: 450px;
  padding: 20px;
  float: left;
}

#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 4px);
  max-width: 300px;
  background-color: #333;
  color: blue;
}
/*FUN*/


/*ANALYTICS*/

.containers {
  color: blue;
  background-color: #333;
  font-family: monospace;
}


/* navbar stufz */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

li a:hover {
  background-color: #111;
}
.active {
  font-display: underline;
}
