// $primary: #276fc2;
// $secondary: #e8d21d;
// $border-radius: 1px;

@import '../node_modules/bootstrap/scss/bootstrap';

.header {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  background-color: #333;
  padding: 28px 32px;
}
/* container tingz */
.rss {
  color: blue;
  background-color: #333;
  width: 450px;
  height: 500px;
  padding: 20px;
  float: right;
  overflow: scroll;
}

.shortcuts {
  color: blue;
  background-color: #333;
  width: 450px;
  height: 450px;
  padding: 20px;
  float: left;
}

.clock {
  color: blue;
  background-color: #333;
  width: 200px;
  height: 200px;
  padding: 20px;
}

/* navbar stufz */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

li a:hover {
  background-color: #111;
}
